<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/shared.css" />
    <link rel="stylesheet" href="css/responsivesness.css" />
    <title>Homely&ndash;about</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <img src="images/logo.png" alt="" />
        </div>
        <nav class="header-nav">
          <a href="index">home</a>
          <a href="about">about</a>
          <a href="explore">explore</a>
          <a href="contact">contact</a>
          <a href="sign-in" class="btn">sign in</a>
        </nav>

        <div id="dropdown">
          <button id="dropdown-btn">
            <img
              src="images/icon-hamburger.svg"
              id="open-dropdown"
              class="visible"
            />
            <img
              src="images/icon-close.svg"
              alt=""
              id="close-dropdown"
            />
          </button>
        </div>
      </div>
      </div>
    </header>
    <main>
      <div class="background" id="about">
        <div class="backdrop">
          <div class="dropdown-menu">
            <nav class="header-nav">
              <a href="index">home</a>
              <a href="about">about</a>
              <a href="explore">explore</a>
              <a href="contact">contact</a>
              <a href="sign-in" class="btn">sign in</a>
            </nav>
          </div>
        </div>
      </div>

      <div class="container">
        <p id="aboutUs-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam faucibus
          purus dolor sagittis, mi velit pellentesque sagittis. Eu risus varius
          dignissim commodo iaculis tempor. Diam, vitae accumsan lectus sit
          posuere ultrices pellentesque massa euismod. Lobortis dictumst vitae
          senectus tempus. Vel eget velit aliquam semper ut nibh velit lectus
          iaculis. Venenatis ut amet sit leo neque cursus. Elit, curabitur at
          sapien eget blandit vel metus ut et. Ut dignissim faucibus massa
          suscipit ultrices blandit tortor sit. Etiam ac convallis phasellus
          varius congue sem egestas bibendum amet. Viverra scelerisque
          pellentesque donec est felis libero commodo ultrices pretium. Amet
          libero, nunc turpis mauris, pellentesque risus ut. Ornare leo ante
          orci et, sodales. Nec et suspendisse ut porttitor. Massa morbi massa
          eget suspendisse dolor.
        </p>
      </div>
      <div class="main-socials">
        <img src="images/facebook.svg" alt="" />
        <img src="images/twitter.png" alt="" />
        <img src="images/instagram.svg" alt="" />
        <img src="images/linkedIn.svg" alt="" />
      </div>
    </main>
    <footer>
      <div class="container">
        <div class="footer-logo">
          <h1>logo</h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni hic
            repudiandae aspernatur, reiciendis adipisci odit repellat quam
            accusantium non molestiae sed similique ipsum temporibus ipsam.
          </p>
        </div>

        <div class="footer-nav">
          <div class="footer-nav_content">
            <h1>company</h1>
            <a href="#">home</a>
            <a href="#">about</a>
            <a href="#">explore</a>
          </div>
          <div class="footer-nav_content">
            <h1>help</h1>
            <a href="#">contact</a>
          </div>
          <div class="footer-nav_content">
            <h1>other</h1>
            <a href="#">login</a>
          </div>
        </div>
      </div>

      <div class="container socials-container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="socials">
          <span>Follow us: </span>
          <span>
            <img src="images/facebook-icon.png" alt="facebook-icon" />
            <img src="images/twitter-icon.png" alt="facebook-icon" />
            <img
              src="images/instagram-icon.png"
              alt="facebook-icon"
            />
            <img src="images/linkedin-icon.png" alt="facebook-icon" />
          </span>
        </div>
      </div>
    </footer>
    <script src="js/app.js"></script>
  </body>
</html>
