<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/shared.css" />
    <link rel="stylesheet" href="/css/responsivesness.css" />
    <title>Homely&ndash;hostel</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <img src="/images/logo.png" alt="" />
        </div>
        <%- include("partials/nav.ejs") -%>

        <div id="dropdown">
          <button id="dropdown-btn">
            <img
              src="/images/icon-hamburger.svg"
              id="open-dropdown"
              class="visible"
            />
            <img
              src="/images/icon-close.svg"
              alt=""
              id="close-dropdown"
            />
          </button>
        </div>
      </div>
      </div>
    </header>
    <main>

        <section class="container apartment">
          </div>
            <div class="apartment-view">
                <div class="current-view">
                    <img src="/images/bedroom.jpg" alt="">
                </div>
                <div class="sub-view">
                    <img src="/images/hostel.jpg" alt="" >
                    <img src="/images/hostel.jpg" alt="" >
                    <img src="/images/hostel.jpg" alt="" >
                    <img src="/images/hostel.jpg" alt="" >
                </div>
            </div>
            <div class="apartment-details">
                <% if(hostels) { %>
                <h1><%- hostels.hostelName %></h1>
                    <div class="detail">
                        <img src="/images/fill-location.svg" alt="">
                        <strong><%-hostels.location %> </strong>
                    </div>
                    <div class="detail">
                        <img src="/images/home.svg" alt="">
                        <strong><%-hostels.numberOfBedroom %> bedroom</strong>
                    </div>
                    <div class="detail">
                        <img src="/images/home.svg" alt="">
                        <strong><%-hostels.numberOfKitchen %> kitchen</strong>
                    </div>
                    <div class="detail">
                        <img src="/images/home.svg" alt="">
                        <strong><%- hostels.numberOfToilet %> restroom</strong>
                    </div>
                    <strong>Number of rooms: <%- hostels.numberOfRooms %></strong>
                    <strong>Available rooms: <%- hostels.availableRooms %></strong>
                 <% } %>
                <div class="apartment-btn">
                    <a href="" class="btn">Rent hostel</a>
                    <a href="#" class="btn"> Contact agent</a>
                </div>
            </div>
        </section>

        <section class="container apartment-description">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consequuntur maxime sapiente itaque voluptatem vitae repellendus ex. 
                Ipsa dicta culpa exercitationem accusantium sed, deserunt cupiditate veritatis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consequuntur maxime sapiente itaque voluptatem vitae repellendus ex. 
                Ipsa dicta culpa exercitationem accusantium sed, deserunt cupiditate veritatis
            </p>
        </section>

        <section class="container apartment-advantage">
            <div>
                <h1>Why you'll love it here</h1>
                <div class="advantage">
                    <img src="/images/verified.svg" alt="">
                    <p>Conducive environment</p>
                </div>

                <div class="advantage">
                    <img src="/images/verified.svg" alt="">
                    <p>Availability of power supply </p>
                </div>

                <div class="advantage">
                    <img src="/images/verified.svg" alt="">
                    <p>Excellent internet service</p>
                </div>

                <div class="apartment-btn">
                    <a href="" class="btn">Rent hostel</a>
                    <a href="tel:09059921680" class="btn"> Contact agent</a>
                </div>
            </div>
        </section>
    </main>
    <footer>
      <div class="container">
        <div class="footer-logo">
          <h1>logo</h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni hic
            repudiandae aspernatur, reiciendis adipisci odit repellat quam
            accusantium non molestiae sed similique ipsum temporibus ipsam.
          </p>
        </div>

        <div class="footer-nav">
          <div class="footer-nav_content">
            <h1>company</h1>
            <a href="#">home</a>
            <a href="#">about</a>
            <a href="#">explore</a>
          </div>
          <div class="footer-nav_content">
            <h1>help</h1>
            <a href="#">contact</a>
          </div>
          <div class="footer-nav_content">
            <h1>other</h1>
            <a href="#">login</a>
          </div>
        </div>
      </div>

      <div class="container socials-container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="socials">
          <span>Follow us: </span>
          <span>
            <img src="/images/facebook-icon.png" alt="facebook-icon" />
            <img src="/images/twitter-icon.png" alt="facebook-icon" />
            <img
              src="/images/instagram-icon.png"
              alt="facebook-icon"
            />
            <img src="/images/linkedin-icon.png" alt="facebook-icon" />
          </span>
        </div>
      </div>
    </footer>
    <script src="/js/app.js"></script>
  </body>
</html>
