<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/shared.css" />
    <link rel="stylesheet" href="css/responsivesness.css" />
    <title>Homely&ndash;sign in</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <img src="images/logo.png" alt="" height="50px">
        </div>
        <%- include("partials/nav.ejs") -%>


        <div id="dropdown">
          <button id="dropdown-btn">
            <img
              src="images/icon-hamburger.svg"
              id="open-dropdown"
              class="visible"
            />
            <img
              src="images/icon-close.svg"
              alt=""
              id="close-dropdown"
            />
          </button>
        </div>
      </div>
      </div>
    </header>
    <main class="flex-none">
      <div class="background" id="sign-up">
        <div class="backdrop">
          <div class="dropdown-menu">
            <%- include("partials/nav.ejs") -%>
          </div>
        </div>
      </div>
      <div class="form-wrapper" id="sign-in">
        <div id="option">
          <button id="sign-in-btn">Sign in</button>
          <button id="sign-up-btn">Sign up</button>
        </div>
        <form action="/sign-in" method="POST" class="sign-in">
          <input type="email" placeholder="Email" name="email"/>
          <input type="password" placeholder="Password" name="password"/>
          <input type="submit" value="Sign in" class="btn" />
        </form>
        <form action="/sign-up" method="POST" class="sign-up">
          <input type="text" placeholder="Full name" name="name"/>
          <input type="email" placeholder="Email" name="email" />
          <input type="tel" placeholder="Phone number" name="phone"/>
          <input type="password" placeholder="Password" name="password"/>
          <input type="submit" value="Sign up" class="btn" />
        </form>
      </div>
    </main>

    <footer>
      <div class="container">
        <div class="footer-logo">
          <h1>logo</h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni hic
            repudiandae aspernatur, reiciendis adipisci odit repellat quam
            accusantium non molestiae sed similique ipsum temporibus ipsam.
          </p>
        </div>

        <div class="footer-nav">
          <div class="footer-nav_content">
            <h1>company</h1>
            <a href="#">home</a>
            <a href="#">about</a>
            <a href="#">explore</a>
          </div>
          <div class="footer-nav_content">
            <h1>help</h1>
            <a href="#">contact</a>
          </div>
          <div class="footer-nav_content">
            <h1>other</h1>
            <a href="#">login</a>
          </div>
        </div>
      </div>

      <div class="container socials-container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="socials">
          <span>Follow us: </span>
          <span>
            <img src="images/facebook-icon.png" alt="facebook-icon" />
            <img src="images/twitter-icon.png" alt="facebook-icon" />
            <img
              src="images/instagram-icon.png"
              alt="facebook-icon"
            />
            <img src="images/linkedin-icon.png" alt="facebook-icon" />
          </span>
        </div>
      </div>
    </footer>

    <script src="/js/app.js"></script>
  </body>
</html>
