@media screen and (max-width: 1120px) {
  /* * {
    border: 1px solid red;
  } */
  .right img {
    width: 400px;
    height: 400px;
    background: red;
  }
  #explore-hostels.container {
    gap: 10px;
  }
  #article-wrapper {
    gap: 20px;
  }
  .article-image {
    width: 400px;
    height: 400px;
  }
  .article {
    width: 400px;
    text-align: center;
  }
  .testimonies {
    flex-wrap: wrap;
    padding: 0 1rem;
    gap: 0;
  }

  .testimonies img {
    height: 200px;
  }

  /* HOSTEL PAGE   */
  .current-view img {
    width: 500px;
    height: 400px;
  }
  .sub-view img {
    max-width: 110px;
  }
}

@media screen and (max-width: 850px) {
  .container {
    flex-wrap: wrap;
  }
  .background {
    display: flex;
  }

  #intro.background {
    background: url("../images/bedroom.jpg") rgba(0, 0, 0, 0.3) no-repeat center;
    background-blend-mode: overlay;
    background-size: cover;
  }
  .intro {
    padding: 2rem;
  }
  .left {
    width: 100%;
    margin: 2rem auto;
    color: #fff;
  }
  .right {
    display: none;
  }

  #services-section {
    padding: 3rem 0;
  }
  .service {
    max-width: 45%;
  }
  #explore-hostels.container {
    gap: 25px;
  }
  .hostel {
    max-width: 300px;
    /* max-width: 45%; */
  }
  .article-image {
    display: none;
  }
  #article-wrapper {
    background: url("../images/about.jpg") rgba(0, 0, 0, 0.5) no-repeat center;
    background-blend-mode: overlay;
    background-size: cover;
    padding: 2rem 0;
    color: #ff9e00;
    /* color: #240046; */
  }
  .article h1 {
    color: #ff9e00;
  }
  .service,
  .hostel,
  .article {
    margin: 0 auto;
  }

  footer > .container {
    justify-content: center;
  }

  .footer-nav,
  .footer-nav_content,
  .socials {
    gap: 15px;
  }

  /* ABOUT US  */
  .main-socials {
    margin-bottom: 3rem;
  }

  /* EXPLORE */
  #select form {
    flex: none;
    width: 100%;
    margin: 0 auto;
  }

  /* CONTACT */
  .form-wrapper {
    width: 80%;
  }
  .form-wrapper input[type="button"] {
    width: 50%;
  }

  /* HOSTEL PAGE   */
  .current-view img {
    width: 100%;
    height: 400px;
  }
  .sub-view img {
    max-width: 155px;
  }
}

@media screen and (max-width: 700px) {
  #dropdown-btn {
    width: 5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
  }
  .header-nav,
  header #open-dropdown,
  header #close-dropdown {
    display: none;
  }
  .header-nav a {
    margin-left: 0;
  }
  #dropdown,
  .dropdown-menu {
    display: block;
  }

  header #open-dropdown.visible,
  header #close-dropdown.visible {
    display: block;
  }
  .backdrop {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    /* z-index: 10; */
    opacity: 0;
    background: none;
  }

  .backdrop.visible {
    opacity: 1;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    );
  }

  .backdrop.visible .dropdown-menu {
    margin-top: 10rem;
    opacity: 1;
  }

  .dropdown-menu {
    width: 90%;
    margin: 8rem auto 0;
    background: hsl(0, 0%, 100%);
    border-radius: 1rem;
    opacity: 0;
    position: relative;
    z-index: 15;
    text-align: center;
    padding: 2rem;
    transition: all ease-in-out 0.5s;
  }

  .dropdown-menu nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .dropdown-menu a {
    color: hsl(233, 26%, 24%);
  }

  .hostel {
    max-width: 100%;
    /* max-width: 45%; */
  }

  /* HOSTEL PAGE   */
  .current-view img {
    width: 100%;
    /* height: 400px; */
  }
  .sub-view img {
    width: 85px;
  }
}

@media screen and (max-width: 550px) {
  * p {
    font-size: 1rem !important;
  }

  .intro {
    width: 90%;
    padding: 0;
  }
  .service {
    margin: 1.5rem auto;
  }
  #testimonies-wrapper span {
    display: none;
  }
  #services-section h2,
  #explore-section h2,
  #testimonial h2 {
    width: 80%;
    margin: 2rem auto;
    font-size: 1.3rem;
  }
  .hostel h4 {
    font-size: 1.2rem;
  }

  #more-hostels {
    margin-left: auto;
    width: 90%;
  }
  .testimonies img {
    width: 100%;
    /* height: 250px; */
  }

  /* EXPLORE */
  main.flex-none {
    flex: none;
  }
  .form-wrapper {
    width: 100%;
    top: -45%;
    margin-bottom: 0;
  }
  .form-wrapper form {
    background: transparent;
    box-shadow: none;
    padding: 2rem;
  }
  .form-wrapper button {
    border: 1px solid #240046;
  }
  .form-wrapper input,
  textarea {
    padding: 1rem;
  }
  /* HOSTEL PAGE   */

  .apartment-details h1 {
    margin: 1rem 0;
    font-size: 1.5rem;
  }
  .current-view img {
    height: 200px;
  }
  .apartment .sub-view {
    gap: 1rem;
  }
  .sub-view img {
    margin: 0 auto;
    width: 120px;
    max-width: 120px;
  }
}
